# Игнорировать node_modules
node_modules/

# Игнорировать временные файлы
*.tmp
*.temp

# Игнорировать файлы, созданные различными редакторами
*~
.DS_Store

# Игнорировать файлы настроек среды разработки
.env

# Игнорировать логи
logs/
*.log

# Игнорировать файлы конфигурации
config.js

# Игнорировать папку с сгенерированной документацией
docs/

# Игнорировать кэш и временные файлы
.cache/
.tmp/

# Игнорировать файлы результата сборки
/dist
/build

# Игнорировать файлы настроек редактора
.vscode/

# Игнорировать файлы настроек проекта
.project
.settings/
