.navBarItems {
  .navBarItem {
    display: flex;
    flex-direction: column;

    a {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 1.4vw;
      text-transform: none;
      text-decoration: none;
    }
  }
}

.navBarDropDowns {
  .dropDownWrap {
    position: relative;
    padding: 0.6vw 0;
    .dFlex {
      display: flex;
      align-items: baseline;

      svg {
        margin-left: auto;
        transition: 0.5s all;
        width: 0.9vw;
        height: 0.9vw;
      }
    }

    .navBarDropDownTitle {
      font-weight: 700;
      font-size: 1.4vw;
      line-height: 1.6vw;
      color: #000000;
      cursor: pointer;
    }
  }
}

.dropDownContent {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: max-height 1s ease-out;
  max-height: 0;
  overflow: hidden;

  .dropDownItem {
    input {
      background: #ffffff;
      border: 0.5px solid #ac0000;
      border-radius: 2px;
    }
  }
}

@media (min-width: 1440px) {
  .navBarItems {
    .navBarItem {
      a {
        font-size: 22px;
      }
    }
  }

  .navBarDropDowns {
    .dropDownWrap {
      padding: 10px 0;
      .dFlex {
        svg {
          width: 8px;
          height: 12px;
        }
      }

      .navBarDropDownTitle {
        font-size: 22px;
        line-height: 25px;
      }
    }
  }
}
