.content {
  display: flex;
  align-items: flex-start;
}
.mainContent {
  padding-top: 20px;
  width: 70%;
  margin-left: 30px;
  flex: 2;
  p {
    background: linear-gradient(180deg, #000000 0%, #e10000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 1.46vw;
  }
}
.items {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  flex: 2;
}

@media (min-width: 1440px) {
  .mainContent {
    p {
      font-size: 23px;
    }
  }
}
