.item {
  width: 15.6vw;
  height: 26vw;
  padding: 1.5vw 1.7vw;
  text-align: center;
  border: 2px solid #b22a22;
  border-radius: 1.22132vw;
  margin-bottom: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  -webkit-border-radius: 1.22132vw;
  -moz-border-radius: 1.22132vw;
  -ms-border-radius: 1.22132vw;
  -o-border-radius: 1.22132vw;

  .img {
    width: 100%;

    .imgChildren {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .btn {
    background: url('../../public/border.png') no-repeat;
    background-size: contain;
    width: 100%;
    height: 5.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1vw;
    cursor: pointer;
    span {
      background: linear-gradient(180deg, #000000 0%, #e10000 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-weight: 700;
      font-size: 1.2vw;
      span {
        font-size: 1vw;
      }
    }
  }
}

@media (min-width: 1440px) {
  .item {
    width: 240px;
    height: 400px;
    padding: 23px 26px;
    border-radius: 18.3198px;
    margin-bottom: 30px;

    -webkit-border-radius: 18.3198px;
    -moz-border-radius: 18.3198px;
    -ms-border-radius: 18.3198px;
    -o-border-radius: 18.3198px;
    .btn {
      height: 83px;
      padding: 0 10px;
      span {
        font-size: 18px;
        span {
          font-size: 15px;
        }
      }
    }
  }
}
